.container{
	padding: 0 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
}
.image{
	object-fit: contain;
	cursor: pointer;
	margin: 0;
	padding: 0;
	opacity: 0;
	width: 100%;
	height: 100%;
	max-width: 630px;
	max-height: 420px;
	transition: background 0.3s ease, opacity 0.3s ease;
}
.infoName{
	font-size: 17px;
	color: rgba(var(--color-main), 1);
}
.imageBox{
	line-height: 0;
	text-align: center;
	width: 100%;
	height: 100%;
	max-width: 630px;
	max-height: 420px;
}
.imageCover{
  background: linear-gradient(-45deg, #eee, #fff, #eee);
  background-size: 400% 400%;
  animation: gradient 2s ease infinite;
	line-height: 0;
	width: 100%;
	height: 100%;
	max-width: 630px;
	max-height: 420px;
	text-align: center;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}