@font-face {
  font-family: "L";
  src: url("ttf/08SeoulHangangL.ttf");
}
@font-face {
  font-family: "M";
  src: url("ttf/08SeoulHangangL.ttf");
}
*{
  font-family: L;
  overflow-x: hidden;
}
:root{
  --main-color: rgba(70, 77, 153, 255);
  --unselect: rgba(0, 0, 0, 0.35);
}
.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
}
.title{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px 0 0 0;
  cursor: pointer;
}
.t1{
  color: var(--main-color);
  font-size: 30px;
}
.t2{
  font-size: 17px;
  margin: 5px 0 0 0;
  color: var(--main-color);
  width: 100%;
  text-align: right;
}
.nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 30px 0 40px 0;
}
.nav > div {
  margin: 0 15px;
  font-size: 17px;
}
.nav-unselect{
  color: var(--unselect);
}
.nav-unselect:hover{
  color: rgba(0, 0, 0, 0.5);
}
.nav-select{
  color: #000;
}
.projects{
  text-align: center;
}
.project-image{
  display: inline-block;
  margin: 3px 5px;
}
.project-image.lazy, .projects-slide-image.lazy{
  background: linear-gradient(-45deg, #cfcfcffc, #f2f2f2, #cfcfcffc);
  background-size: 400% 400%;
  animation: gradient 3s ease infinite;
}

.loading{
  background: linear-gradient(-45deg, #cfcfcffc, #f2f2f2, #cfcfcffc);
  background-size: 400% 400%;
  animation: gradient 3s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.contact{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.adress-content{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.address-content-box{
  width: 300px;
}
.address-title, .map-title{
  font-size: 17px;
  margin: 0 0 10px 0;
}
.address-linner{
  margin: 5px 0;
}
.map{
  margin: 30px 0 0 0;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.map-map{
  width: 600px;
  height: 350px;
}
.about{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about-dec{
  width: 100%;
  max-width: 450px;
  font-size: 18px;
  word-break: keep-all;
  line-height: 26px;
  text-align: center;
}
.about-dec-inner{
  padding: 0 20px;
}
.about-person{
  width: 100%;
  max-width: 450px;
  margin: 60px 30px 0 30px;
}
.about-person-box{
  padding: 2px 20px;
}
.about-person-name{
  margin: 0 0 10px 0;
}
.nav-btn {
  cursor: pointer;
}
.inner{
  margin: 0 0 50px 0;
}
.project-image{
  filter: grayscale(100%);
  cursor: pointer;
}
.project-image:hover{
  filter: grayscale(0%);
}
.projects-slide{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.projects-slide > span, .projects > span{
  overflow: hidden;
}
img{
  object-fit: cover;
}
.projects-slide-image{
  object-fit: contain;
}
.projects-slide-title{
  font-size: 17px;
  margin: 10px 0 0 0;
}
